# Standard Python ignores. They don't affect code usability.
*/__pycache__/
*/Thumbs.db
*.egg-info/
*/.ipynb_checkpoints/
*/dist/
*/build/
*.pyc
*.venv

__pypackages__/

# Pycharm
*/*.iws
*/workspace.xml
*/private.py

*.dump
*.db

# If not using req.text, we need uv.lock
#*.lock
