{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="community-feedback-on-legislation">Community feedback on legislation</h1>
<p>I  write pre-print legislation, and share it with the public to get feedback. As a representative and public servant, I want the electorate to play an active part in the legislature process.</p>
<p>I want you to know, even if I'm not elected, exactly what legislation I will submit, and I want your input on it.</p>
<p>See the living <a href="">list of proposals</a> for details.</p>
{% endblock %}
