{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="democratic-reform">Democratic reform</h1>
<p>A fair election system is key to a healthy democracy, and is the foundation of government. Our current system favors incumbants and well-funded interest groups, at the expense of fair representation, and interests of the people.</p>
<h2 id="districts">Districts</h2>
<p>There is no conscionable justification for our Gerrymandered districts - they're embarrassing, and the origin of problems which propogate through government. Failling to reform them is unethical. Even if a given district shape means a <em>win</em> for the party you support, it's an affront to a healthy government.</p>
<p>We cannot allow those elected, or anyone with a conflict of interest to determine districts. This is an unfair system with misaligned incentives. I support legislation to build fair, impartial districts - not ones selected to benefit specific parties or candidates.</p>
<p>This is a truly bipartisan problem, and shows that we’re serious about democracy, and fighting corruption.</p>
<h3 id="legislation">Legislation</h3>
<p>When elected, I will fight for fair districts, and continue to draft and promote legislation that provides a practical path forwar. I support NC <a href="(https://www.congress.gov/bill/119th-congress/house-resolution/20/text?s=1&amp;r=5&amp;q=%7B%22search%22%3A%22election+reform%22%7D)">HR20: Establishing the Select Committee on Electoral Reform</a></p>
<p>Fix our districts. Gerrymandered districts run counter to the most basic principles of democracy.  Fix them: There is no valid justification for keeping them.</p>
<p>We don’t need a perfect solution, and there are many viable options. I propose ____, but would support any system that removes conflicts of interest from districting. Fair maps mean politicians are truly representatives of the people, instead of their own interests.</p>
<h3 id="judicial-code-of-ethics">Judicial code of ethics</h3>
<p>I support depoliticizing the Supreme Court. It's currently tied too heavily to the President who appoints each justice. I support increasing the number of Supreme court seats, and implementing a term limit for Justices. Appointments will be spread evenly between presidential terms.</p>
<p>I support enforcing a code of ethics for Supreme Court justices, focused on ensuring Justices remain impartial and make bribes non-viable.</p>
<h2 id="list-of-current-and-historic-bills-i-support-on-this-topic">List of current and historic bills I support on this topic</h2>
<ul>
<li>
<p><a href="https://www.congress.gov/bill/119th-congress/house-resolution/20/text?s=1&amp;r=5&amp;q=%7B%22search%22%3A%22election+reform%22%7D">119th, H20 - Establishing the Select Committee on Electoral Reform</a></p>
</li>
<li>
<p><a href="https://www.ncleg.gov/BillLookUp/2025/S698">S698 (2025) — “Citizens Redistricting Commission Act”</a></p>
</li>
</ul>
<p>(Maybe skip this one in favor of newer ones?
- <a href="https://www.ncleg.gov/BillLookUp/2023/s642">S642 (2023) — “Citizens Redistricting Commission Act”</a></p>
<ul>
<li><a href="https://www.ncleg.gov/Committees/CommitteeInfo/HouseStanding/21">House Committee on election law</a></li>
</ul>
<h2 id="references">References:</h2>
<ul>
<li>https://campaignlegal.org/update/how-can-we-combat-gerrymandering</li>
<li>https://protectdemocracy.org/work/how-to-end-gerrymandering/</li>
</ul>
<h2 id="proportional-representation-is-this-too-spicy-prevent-winner-takes-all-demon">Proportional representation. (Is this too spicy?) Prevent winner-takes all demon</h2>
<p>We support proportional representation, instead of first-past-the-</p>
<p>Refs:
- https://www.npr.org/2023/11/18/1194448925/congress-proportional-representation-explainer
- https://protectdemocracy.org/work/proportional-representation-explained/</p>
{% endblock %}
