{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="education">Education</h1>
<p>Education is one of the most impactful parts of society, but its impact is 
obscured by the delay of decades it takes to pay off. Schools are underfunded,
and teachers are unerpaid and under-respected in context with their huge impact
on the future.</p>
<p>More pay for teachers. Teaching is among the most underappreciated jobs. Quality education is easy to overlook, because its payoff for society takes decades to realize. This delayed affect masks that it’s one of the most critical issues facing us.</p>
<p>Compensate teachers competitively. Attract top talent. Let teachers focus on their classes, instead of their finances. Make teaching a competitive career for people in all fields.</p>
<hr />
<p>Refs
- https://www.katforillinois.com/issues/veterans</p>
{% endblock %}
