{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="education">Education</h1>
<p>Education is one of the most impactful parts of society, but its impact is obscured by the delay of decades it takes to pay off. Schools are underfunded, and teachers are unerpaid and under-respected in context with their huge impact on the future.</p>
<h2 id="teacher-pay-and-career-appeal">Teacher pay and career appeal</h2>
<p>We need a minimum yearly salary of $60,000 for public school teachers in NC. Teaching is among the most nderappreciated jobs, yet it has a huge impact for future generations. Quality education is easy to overlook, because its payoff for society takes decades to realize. This delayed effect masks that it’s one of the most critical issues facing us.</p>
<p>Compensate teachers competitively. Attract top talent. Let teachers focus on their classes, instead of their finances. Make teaching a competitive career for people in all fields - this includes both career educators and people who wish
to share their industry experiences.</p>
<h2 id="school-funding">School funding</h2>
<p>Fund education. Better facilities, more schools, smaller class sizes.</p>
<hr />
<p>Refs</p>
{% endblock %}
