{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="democratic-reform">Democratic reform</h1>
<p>A fair election system is critical to a healthy democracy, and is a foundation to everything else in politics. Our current system strongly favors incumant candidates, at the expensive of representation of the people.</p>
<h2 id="gerrymandering">Gerrymandering</h2>
<p>There is no conscionable justification for our Gerrymandered electoral districts, and it's embarrasing that we haven't fixed them. Continuing to promote these, even if it means a win for your team, is unethical, and is the root of other problems we face.</p>
<p>We cannot allow the people who are elected to determine the election boundaries. This is an inherrantly unfair system with misaligned incentives. Use system with districts that aren't hand-selected to benefit specific parties or candidates</p>
<h3 id="specific-proposal">(Specific proposal)</h3>
<p>When elected, I will continue to press for this as a top priority, and will continue to draft and promote legislation that provides a practical path forward on this.</p>
<ul>
<li>Fix our districts. Gerrymandered districts run counter to the most basic principles of democracy.  Fix them: There is no valid justification for keeping them. This is a truly bipartisan problem, and shows that we’re serious about democracy, and fighting corruption. Our current districts are an embarrassment.</li>
</ul>
<p>We don’t need a perfect solution, and there are many viable options. I propose ____, but would support any system based on geometry. Fair maps mean politicians are truly representatives of the people, instead of their own interests.</p>
<h2 id="list-of-current-and-historic-bills-i-support-on-this-topic">List of current and historic bills I support on this topic</h2>
<ul>
<li>
<p><a href="https://www.congress.gov/bill/119th-congress/house-resolution/20/text?s=1&amp;r=5&amp;q=%7B%22search%22%3A%22election+reform%22%7D">119th, H20 - Establishing the Select Committee on Electoral Reform</a></p>
</li>
<li>
<p><a href="https://www.ncleg.gov/BillLookUp/2025/S698">S698 (2025) — “Citizens Redistricting Commission Act”</a></p>
</li>
</ul>
<p>(Maybe skip this one in favor of newer ones?
- <a href="https://www.ncleg.gov/BillLookUp/2023/s642">S642 (2023) — “Citizens Redistricting Commission Act”</a></p>
<ul>
<li><a href="https://www.ncleg.gov/Committees/CommitteeInfo/HouseStanding/21">House Committee on election law</a></li>
</ul>
<h2 id="references">References:</h2>
<ul>
<li>https://campaignlegal.org/update/how-can-we-combat-gerrymandering</li>
<li>https://protectdemocracy.org/work/how-to-end-gerrymandering/</li>
</ul>
<h2 id="proportional-representation-is-this-too-spicy-prevent-winner-takes-all-demon">Proportional representation. (Is this too spicy?) Prevent winner-takes all demon</h2>
<p>We support proportional representation, instead of first-past-the-</p>
<p>Refs:
- https://www.npr.org/2023/11/18/1194448925/congress-proportional-representation-explainer
- https://protectdemocracy.org/work/proportional-representation-explained/</p>
{% endblock %}
