{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="david-oconnor-for-north-carolina-general-assembly">David O'Connor for North Carolina General Assembly</h1>
<p>For District 38. (Raleigh) I will fight for democratic reform,
eductation, and healthcare.</p>
<h2 id="veteran-and-engineer-focused-on-fixing-practical-problems">Veteran and engineer: Focused on fixing practical problems</h2>
<h2 id="what-i-will-fight-for-when-elected">What I will fight for when elected</h2>
<ul>
<li>Democratic reform</li>
<li>Infrastructure repair</li>
<li>Solar power</li>
</ul>
<h2 id="open-legislative-drafting">Open legislative drafting</h2>
<p>I encourage North Carolina residents to work with me on drafting
legislation. I support the interests of residents; not lobbyists or
special interest groups.</p>
<h2 id="my-background">My background</h2>
<p>Air force veteran with 12 years in service, and 1,500 combat flight hours.
Moved to North Carolina in 2017 after being assigned to Seymour Johnson AFB,
and have lived here since.</p>
<p>I work as a systems engineer at a small business.</p>
{% endblock %}
