{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="funding-for-science">Funding for science</h1>
<p>I support funding basic research - without a requirement for short-term payoffs, and without 
wasting researcher's times on competing for grants in a 0-sum game.</p>
<h2 id="a-role-model-as-we-were">A role model, as we were</h2>
<p>We will regain our status as a role model for scientific research; attracting top talent 
from around the world, and nurturing science in our children.</p>
{% endblock %}
