{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="uniting-and-reconcilliation">Uniting and reconcilliation</h1>
<p>I reject that notion that people who hold different political views from each other can’t get along. The major news outlets show content designed to divide us over hot button issues. The minority of things we disagree on overshadow where we, the people agree. We unite against those who try to divide us for their own benefit. We unit against the selfish few who who wish to distract us from their own destructive actions.</p>
<h1 id="wedge-issues">Wedge issues</h1>
<p>I will not prioritize emotionally-driven or wedge issues. Using these has been a staple in US politics for decades,
but are a distraction. They pit Americans against each other by encouraging them to react with emotions
instead of rational thought, at all of our expense. I will not use them as a tool to gain support.</p>
<p>Your opponent is not the immigrant; the LBGTQ person, your neighbor who votes for someone who you do not.</p>
<p>We’re all on the same team. What we share dwarfs what we do not.</p>
{% endblock %}
