{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1 id="why-am-i-running-for-congress">Why am I running for Congress?</h1>
<p>My candidacy will shift focus on the foundational issues that serve the people. What I lack in political experience, I make up for in integrity. I will always, through objective research, do my best to make choices which will benefit the current and future people of America. </p>
<p>I'm not fighting for corporate interests, and not using the hot-button topics aimed to divide us. I'm not fighting for the billionaire class. I will not distract with identity politics, nor . We deserve respect, honesty, and transparency from politicians.</p>
<p>I'm not here to pit American against American, nor create enemies out of convenience. What we share dwarfs what we differ on.</p>
<p>We have the resources and technology as a nation to solve the biggest problems we face - I run to make sure we use them.</p>
<h2 id="long-term-thinking">Long-term thinking</h2>
<p>I'm going to fight build a better tomorrow, for our children, and a better today for ordinary Americans of all political backgrounds, urban, suburban, and rural.</p>
<p>I support efforts that will have payoffs long into the future - beyond the next election or funding cycle;
and individual life times. This means investing in our future through long-term initiatives in education,
basic research, and protecting the biosphere.</p>
<h2 id="direct-communications">Direct communications</h2>
<p>I refuse to modulate my communications in order play games or win points. I mean everything I say, and will never dumb down my message, lie, or tell half-truths. I respect my fellow Americans, and will treat you with the empathy and respect you deserve.</p>
<h2 id="honesty-integrity-and-ethics">Honesty, integrity, and ethics</h2>
<p>I respect you, and am running for office to support society as a whole - now and into the future I will never bow to the interests of special interest groups or PACs. I'm horrified and embarrassed that special interest groups brazenly compromise our political process. We can do better - I will lead as an example.</p>
<p>I will always act with ethics first, and will never support legislation just because it</p>
{% endblock %}
